*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.navbar{
  background-color:rgb(46, 43, 43);
  color: white;
  display:  flex;
  align-items: center;
  justify-content:space-around;
  padding: 10px;
  position: sticky;
  top: 0;
  >ul{
    display: flex;
    list-style: none;
    gap: 20px;
  }
 
  
}
.j{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.j:hover{
  text-decoration: underline;
  color: lightblue;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;

  
}
.card{
  background-color: rgb(246, 244, 241);
  margin-bottom: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 1px black;
  min-height: 280px;
  padding-top: 15px;
  height: 300px;
}
img{
  height: 150px;
  width: 180px;
 
}
.cartContainer{
  /* background-color: red; */
  height:auto;
}
/* .empty{
  background-color: rgb(228, 42, 42);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: tomato;
} */
.logo{
  height: 50px;
  width: 50px;
}
.phone{
  height: 100%;
  width:100px;
}
.price{
  font-size: 20px;
  font-weight: 600;
}
.offer{
  color: grey;
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}
.rating{
  color: #DA9100;
  font-size: 20px;
  font-weight: 600;
}
.title{
  font-size: 15px;
  font-weight: 500;
  color:"tomato";
}
.emoj{
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  border-radius: 50%;
}
.switch{
  display: flex;
  /* background-color: #DA9100; */
  align-items: center;
  justify-content: center;


}
  .h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: aliceblue;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.temoj{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.emoj1{
  margin: auto;
  width: 670px;
  height: 342px;
  min-width: 200px;
}
.footer{
  background-color: rgba(0, 0, 0, 0.874);
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;

 
.flogo{
        height: 20px;
        width: 20px;
  }

}
.scart{
  padding: 5px 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;

}
.scart:hover{
 background-color:lightblue ;
}
.calign{
  display: flex;
  align-items: center;
}
.oops{
  color: black;
}
.op{
  color: red;
  font-size: 30px;
}
.qty{
  font-weight: 500;
  border: 1px solid grey;
  margin-left: 50px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
  body {
    /* background-color: lightblue; */

  }
  .emoj1{
    margin: auto;
    width: 470px;
    height: 242px;
    min-width: 200px;
  }
  .emoj{
    margin: auto;
    width: 300px;
    height: 300px;
  }
}
