@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.empty{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: tomato;
}
.kart{
width: 400px;
height: 200px;
}
.addCart{
  background-color:rgb(31, 28, 28);
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* .addCart:hover{
  border-radius: 10px;
  transition: 1.5s;
} */
.removeCart{
  background-color:#D4AF37;
  color:white;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.removeCartcart{
  /* background: linear-gradient(to right,red, blue); */
  background-color:#D4AF37;
  color:white;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px 0;
}
.ads{
 display: flex;
 justify-content: center;
}
.video{
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: auto;
    >video{
      width: 100%;
      height: 300px;
    
    }
}
.ot{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartCard{
  background-color: rgb(241, 237, 237);
  margin-bottom: 20px;
  width:700px;
  display: flex;
  padding: 20px;
  margin-left: 10%;
  height: auto;
}
.phonec{
  height: 150px;
  width:120px;
  margin-right: 20px;
}
.cartss{
  padding: 0 5px 0 5px;
  background-color: rgb(57, 129, 210);
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
.stocksR{
  color: red;
  font-weight: 700;
}
.stocksG{
  color: rgb(7, 183, 7);
  font-weight: 700;
}
.desc{
  color: black;
  
}
.title:hover{
  color:tomato
}
.cartTitle{
  display: flex;
  justify-content: center;
  color:black;
}
.removeAll{
  color: white;
  background-color: black;
  padding: 5px;
}
.removeAll:hover{
  border-radius: 10px;
}
.cartnav{
  display: flex;
  background-color:white ;
  box-shadow: 0 0 5px grey;
  align-items: center;
  padding: 8px;
  justify-content: space-around;
  position: sticky;
  top: 74px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 818px) {

  .cartCard{
    background-color: rgb(239, 235, 235);
    margin-bottom: 20px;
    width:550px;
    display: flex;
    padding: 20px;
    margin-left: 10%;
    height: auto;
  }  
  .phonec{
    margin-bottom: 30px;
  }

}
@media only screen and (max-width: 650px) {

  .cartCard{
    background-color: rgb(239, 235, 235);
    margin-bottom: 20px;
    width:450px;
    display: flex;
    padding: 20px;
    margin-left: 10%;
    height: auto;
  
  }  
  .phonec{
    height: 170px;
  }
  
}